<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© @(DateTime.Now.Year) </small>
        </div>
        <div class="col-6 col-md">
            <h5>Main Menu</h5>
            <ul class="list-unstyled small">
                <li><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Faq">F.A.Q.</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Staff</h5>
            <ul class="list-unstyled small">
                <li><a class="text-muted" asp-area="" asp-controller="Staff" asp-action="Index">My bookings</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="Staff" asp-action="RoomAvailability">Rooms availability</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Student</h5>
            <ul class="list-unstyled small">
                <li><a class="text-muted" asp-area="" asp-controller="Student" asp-action="Index">My bookings</a></li>
                <li><a class="text-muted" asp-area="" asp-controller="Student" asp-action="StaffAvailability">Staff Availability</a></li>
            </ul>
        </div>
    </div>
</footer>